.env
.vscode
/node_modules
/public/hot
/public/storage
/storage/*.key

/storage/framework/cache/data

/.idea
/.vagrant
data
employeeImages
meters
profilePic
projectImages
requirements
subWardImages
uploads
wardImages
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
favicon.ico
manifets.json
public
robots.txt
storage
tests
web.config
webpack.mix.js
.htaccess
vendor/*
